opencv-python
numpy
dnspython
cryptography
h11
mkl
pillow
pip
wheel
protobuf
pymongo
cffi
setuptools
parso
jedi
colorama
lxml
pytz
PyYAML
six
ecdsa
MarkupSafe
Werkzeug
click
Jinja2
blinker
itsdangerous
pluggy
python-lsp-server
ujson
docstring-to-markdown
python-lsp-jsonrpc
PyQt5
scipy
threadpoolctl
matplotlib
joblib
pandas
python-dateutil
pyasn1
pyserial
intelhex
esptool
seaborn
cycler
scikit-learn
xgboost
bitarray
python-engineio
simple-websocket
reedsolo
bitstring
gunicorn
packaging
bidict
python-socketio
contourpy
fonttools
pycparser
pyparsing
Flask
kiwisolver
pyasn1-modules
wsproto
Flask-Cors
python-dotenv
google-cloud-storage